.Header {
  padding: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #f6f6f8;
  /* border-bottom: 1px solid #ddd; */
  max-height: 60px;
  color: #3c424b;

  display: flex;
  align-items: center;
  font-size: 15px;
}

::placeholder {
  font-size: 15px;
  /* color: white; */
}
.Header > div {
  display: flex;
}

.Header .header_center {
  width: 50%;
  justify-content: center;
}

.Header .header_center .header_input {
  width: 50%;
  padding-left: 35px;
}

.Header .header_left {
  width: 25%;
  justify-content: flex-start;
  padding-left: 12%;
}
.Header .header_right {
  width: 25%;
  justify-content: flex-end;
  padding-right: 12%;
}

.left-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}
.weather-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header_input {
  background-image: url("/src/assets/search.svg");
  background-repeat: no-repeat;
  background-position: 10px center; /* 왼쪽 안쪽에 아이콘 위치 */
  padding-left: 30px; /* 아이콘 공간 확보 */

  border-radius: 8px;
  height: 38px;
  border: none;
  /* color: white; */
}

.header_input:focus {
  outline: none;
}
