.header_input {
  /* width: 50%; */
  width: 400px;
  padding-left: 35px;
}
.header_input {
  background-image: url("/src/assets/search.svg");
  background-repeat: no-repeat;
  background-position: 10px center; /* 왼쪽 안쪽에 아이콘 위치 */
  padding-left: 30px; /* 아이콘 공간 확보 */

  border-radius: 8px;
  height: 38px;
  border: none;
  /* color: white; */

  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

.header_input:focus {
  outline: none;
}
::placeholder {
  font-size: 15px;
  /* color: white; */
}

.header_input.dark {
  background-color: #202020;
  color: white;

  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}
