.MainComponent {
  display: flex;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 1%;
  padding-bottom: 3%;
  gap: 3%;
  /* height: 620px; */
  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

.LeftSection {
  /* border: solid 1px black; */
  width: 30%;

  display: flex;
  flex-direction: column;
  gap: 5%;
  border-radius: 10px;
}

.RightSection {
  /* border: solid 1px black; */
  width: 70%;
  background-color: #ffffff;
  border-radius: 10px;
  /* height: 600px; */
  padding: 25px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 29px 0px;

  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}
.MainComponent.dark {
  background-color: #121212;
  color: #e0e0e0;
  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

.RightSection.dark {
  background-color: #252525;

  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

@media screen and (max-width: 480px) {
  .MainComponent {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5%;
  }
  .LeftSection {
    width: 100%;
    gap: 10px;
  }
  .RightSection {
    width: 100%;
  }
}
