.WeatherNow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  height: 40%;
  background-color: #ffffff;
  backdrop-filter: blur(10px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #3c424b;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 29px 0px;
  padding: 15px;

  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

.now {
  font-size: 12px;
}

.WeatherNow .icon {
  width: 80px;
  height: 80px;
}

.WeatherNow {
  /* border: solid 1px hwb(237 0% 0%); */
  /* margin-bottom: 10%; */
}

.location {
  font-size: 13px;
}

.iconTemp {
  display: flex;
  align-items: center;
}

.temp {
  font-size: 35px;
}

.loadingInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  /* border: solid 1px hwb(237 0% 0%); */
  /* margin-bottom: 10%; */
  height: 240px;
  /* height: 40%; */
  justify-content: center;
}

.WeatherNow.dark {
  background-color: #252525;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 29px 0px;
  color: #e0e0e0;
}
